.appreach {
    text-align: left;
    background: #C4D3F5;
    border-radius: 5px;
    max-width: 600px!important;
    width: 100%!important;
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 1.4em;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    & p {
        line-height: 1.8em!important;
        margin: 0!important;
        margin-bottom: 0!important;
        padding: 0!important;
        padding-bottom: 0!important;
    }

    & a {
        &:after {
            display: none;
        }
    }

    &__icon {
        float: left;
        border-radius: 10%;
        overflow: hidden;
        margin: 0 3% 0 0!important;
        width: 22.5%!important;
        height: auto!important;
        max-width: 90pt!important;
    }

    &__detail {
        display: inline-block;
        line-height: 1.5;
        width: 72%;

        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }

    &__name {
        font-size: 15px!important;
        color: #F53672!important;
        line-height: 1.5em!important;
        font-weight: 700!important;
        max-height: 3em;
        overflow: hidden;
    }

    &__info {
        font-size: 9pt!important;
        opacity: 0.8;
    }

    &__posted {
        font-size: .9em!important;
    }

    &__developper,
    &__price {
        margin-right: .5em;
    }

    &__posted {
        & a {
            margin-left: .8em;
            color: #4da1ff!important;
        }
    }

    &__links {
        float: left;
        height: 40px;
        margin-top: 8px;
        white-space: nowrap;
    }

    &__aslink {
        & img {
            margin-right: 10px;
        }
    }

    &__aslink,
    &__gplink {
        & img {
            height: 40px;
            backface-visibility: hidden;
        }
    }
}

@media(max-width:460px) {
    .appreach {
        overflow: hidden;
        max-width: 300px!important;
        padding: 15px;
        margin: 15px auto;

        &__icon {
            width: 25%!important;
        }

        &__info {
            font-size: 10px!important;
        }

        &__links {
            margin: auto;
            margin-top: 15px;
            float: inherit;
            display: table;
        }

        &__aslink,
        &__gplink {
            & img {
                margin-right: 2px;
                height: 40px;
            }
        }
    }
}