.appreach {
    text-align: left;
    border: 1px solid #4da1ff;
    background: #f2f8ff;
    max-width: 500px!important;
    width: 100%!important;
    padding: 30px;
    margin: 0 auto;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.appreach:after {
    content: "";
    display: block;
    clear: both
}

.appreach p {
    line-height: 1.8em!important;
    margin: 0!important;
    margin-bottom: 0!important;
    padding: 0!important;
    padding-bottom: 0!important
}

.appreach a:after {
    display: none
}

.appreach__icon {
    float: left;
    border-radius: 10%;
    overflow: hidden;
    margin: 0 3% 0 0!important;
    width: 22.5%!important;
    height: auto!important;
    max-width: 90pt!important
}

.appreach__detail {
    display: inline-block;
    line-height: 1.5;
    width: 72%
}

.appreach__detail:after {
    content: "";
    display: block;
    clear: both
}

.appreach__name {
    font-size: 15px!important;
    color: #4da1ff!important;
    line-height: 1.5em!important;
    font-weight: 700!important;
    max-height: 3em;
    overflow: hidden
}

.appreach__info {
    font-size: 9pt!important;
    color: #929292!important
}

.appreach__posted {
    font-size: .9em!important
}

.appreach__developper, .appreach__price {
    margin-right: .5em
}

.appreach__posted a {
    margin-left: .8em;
    color: #4da1ff!important
}

.appreach__links {
    float: left;
    height: 40px;
    margin-top: 8px;
    white-space: nowrap
}

.appreach__aslink img {
    margin-right: 10px
}

.appreach__aslink img, .appreach__gplink img {
    height: 40px;
    -webkit-backface-visibility: hidden
}

@media(max-width:460px) {
    .appreach {
        overflow: hidden;
        max-width: 300px!important;
        padding: 15px;
        margin: 15px auto
    }
    .appreach__icon {
        width: 25%!important
    }
    .appreach__info {
        font-size: 10px!important
    }
    .appreach__links {
        margin: auto;
        margin-top: 15px;
        float: inherit;
        display: table
    }
    .appreach__aslink img, .appreach__gplink img {
        margin-right: 2px;
        height: 40px
    }
}